Pen <%= @pen.name %>
<br>
  <%= link_to 'Renovate', edit_pen_path(@pen) %>
<br>
  <%= link_to 'Demolish', pen_path(@pen), method: :delete %>

<p>
  Animals
</p>
<p>
  <% @pen.animals.each do |a| %>
    <%= a.species %>
    <%= a.energy %>
    <%= form_tag(interactions_create_path(animal: a), method: 'post') do %>
      <%= select_tag(:act, options_for_select(@interacts)) %>
      <%= submit_tag "Interact!", name: nil, class: 'button medium' %>
    <% end %> 
    <br>
  <% end %>
</p>
<p>
  <%= link_to 'Add an animal to this pen', new_pen_animal_path(params[:id]) %>
</p>
<p>
  <%= link_to 'Back to all pens', pen_index_path %>
</p>