<!-- Display person's name, email AND list of interactions -->
<h3>Person</h3>
<p>Name: <%= @person.name if @person.name %></p>
<p>Email: <%= @person.email if @person.email %></p>

<!-- how to get list of interactions of person? -->

<h4>Interactions</h4>
<ul>
	<% @interactions.each do |interaction| %>
		<% if interaction.act == 'pet' %>
			<li><%= @person.name %> petted a <%= interaction.animal %></li>
		<% elsif interaction.act == 'play with' %> 
			<li><%= @person.name %> played with a <%= interaction.animal %></li>
		<% elsif interaction.act == 'take a selfie with' %>
			<li><%= @person.name %> took a selfie with a <%= interaction.animal %></li>
		<% else %>
			<li><%= @person.name %> interacted with a <%= interaction.animal %></li>
		<% end %>
	<% end %>
</ul> 



