<div class="body">
  <h1>Welcome to our Petting Zoo!</h1>

  <h3><%= link_to 'Pens', pen_index_path %></h3>

  <h3><%= link_to 'Visitors', person_index_path %></h3>
  <br>
  <h4>Your Newsfeed</h4>
<body>
  <ul>
    <% Interaction.all.each do |i| %>
      <% if i.act == 'pet' %>
        <li><%= i.person.name %> petted a <%= i.animal %></li>
      <% elsif i.act == 'play with' %>
        <li><%= i.person.name %> played with a <%= i.animal %></li>
      <% elsif i.act == 'take a selfie with' %>
        <li><%= i.person.name %> took a selfie with a <%= i.animal %></li>
      <% end %>
    <% end %>
  </ul>
</body>


</div>